<a href="{{ article.metafields.custom.instagram_url }}"><img class="w-[90%] mx-auto translate-y-4" src="{{ article.image | image_url }}" width=400 id="featured_header_img"></a>

<div id="article_container" class="w-full bg-[#000] py-8">
    <article class="w-[90%] mx-auto">
        <h2 class="font-futura text-green text-center text-xs mb-2">N/A</h2>
        <h3 class="font-futura text-center text-2xl mb-4">{{ article.title }}</h3>
        <div id="article_info" class="flex justify-center gap-4 py-2 border-y-2 border-green text-green mb-4">
            <p>{{ article.author }}</p>
            <p>{{ article.published_at | date: '%B %d, %Y' }}</p>
        </div>
        <p>{{ article.content }}</p>
    </article>
</div>