<a class="block mx-auto w-[90%] max-w-[55rem] translate-y-4 lg:translate-y-0 lg:mt-12" href="{{ article.metafields.custom.instagram_url }}"><img class="w-full h-auto" src="{{ article.image | image_url }}" width=400 id="featured_header_img"></a>

<div id="article_container" class="w-full max-w-[60rem] mx-auto bg-[#000] py-8 lg:text-xl lg:py-12 lg:mb-12">
    <article class="w-[90%] mx-auto">
        <h2 class="font-futura text-green text-center text-xs mb-2 lg:text-2xl lg:mb-4">INTERVIEWS</h2>
        <h3 class="font-futura text-center text-2xl mb-4 lg:text-6xl lg:pb-4 lg:mb-12">{{ article.title }}</h3>
        <div id="article_info" class="flex justify-center gap-4 border-y-2 border-green text-green mb-4 lg:mb-12 lg:text-xl lg:py-4">
            <p>{{ article.author }}</p>
            <p>{{ article.published_at | date: '%B %d, %Y' }}</p>
        </div>
        <p id="article_text">{{ article.content }}</p>
    </article>
</div>