<h1 id="blog_title">{{ blog.title | capitalize }}</h1>

{%- paginate blog.articles by 5 -%}
    {% for article in blog.articles %}
        <a href="{{ article.url }}" class="article_link">
            <div class="article_container" style="background-image: url('{{ article.image | image_url }}')">
                <div class="article_info">
                    <h2>{{ article.title }}</h2>
                    {% comment %} <div>{{ article.excerpt_or_content }}</div> {% endcomment %}
                </div>
            </div>
        </a>
    {% endfor %}

    {{ paginate | default_pagination: next: 'Older', previous: 'Newer' }}
{%- endpaginate -%}