{% assign group_articles = blogs["articles"].articles | concat: blogs["interviews"].articles %}
{% assign carousel_articles = group_articles | sort: "published_at" | reverse | slice: 0, 6 %}
{% assign first_4_articles = blogs["articles"].articles | sort: "published_at" | reverse | slice: 0, 4 %}
{% assign first_4_interviews = blogs["interviews"].articles | sort: "published_at" | reverse | slice: 0, 4 %}

<div id="content_container" class="m-4">
    <div id="carousel" class="carousel mb-4">
        <div id="slider" class="flex w-[600%] h-full transition-transform duration-700 ease-in-out">
        {% for article in carousel_articles %}
            <div class="carousel_item">
                <div class="carousel_item_image h-[70%] w-full bg-center bg-cover" style="background-image: url('{{ article.image | image_url: width: 450 }}');"></div>
                <div class="carousel_item_description">
                    <p>{{ article.title }}</p>
                    <p class="excerpt">{{ article.excerpt}}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

    <div id="mobile_nav_buttons" class="grid grid-cols-2 gap-4">
        {% for link in linklists.mobile-menu.links -%}
            {{ link.title | upcase | link_to: link.url }}
        {%- endfor %}
    </div>
</div>


<aside class="hidden lg:inline">
    <h4>STORIES</h4>
    {% for article in first_4_articles %}
        <div class="aside_post">
            <img src="{{ article.image | image_url: width: 150, height: 100 }}">
        </div>
    {% endfor %}
    <h4 style="text-align: right;">INTERVIEWS</h4>
    {% for article in first_4_interviews %}
        <div class="aside_post">
            <img src="{{ article.image | image_url: width: 150, height: 100 }}">
        </div>
    {% endfor %}
</aside>


