{% assign group_articles = blogs["articles"].articles | concat: blogs["interviews"].articles %}
{% assign carousel_articles = group_articles | sort: "published_at" | reverse | slice: 0, 6 %}
{% assign first_4_articles = blogs["articles"].articles | sort: "published_at" | reverse | slice: 0, 4 %}
{% assign first_4_interviews = blogs["interviews"].articles | sort: "published_at" | reverse | slice: 0, 4 %}
{% assign insta_links = carousel_articles | slice: 0, 2 %}
{% assign xtendeds_favorites = blogs["xtendeds-favorites"].articles | sort: "published_at" | reverse %}

<div id="index_container" class="flex max-w-[80rem] mx-auto justify-between m-4 lg:my-12">
    <div id="content_container" class="w-full px-4 lg:w-[68%] lg:px-0">
        <div id="carousel" class="carousel mb-4 lg:mb-12 lg:mx-8 lg:!w-auto">
            <div id="slider" class="flex w-[600%] h-full transition-transform duration-700 ease-in-out">
            {% for article in carousel_articles %}
                <a class="carousel_item" href="{{ article.url }}">
                    <div class="carousel_item_image h-[65%] w-full bg-center bg-cover" style="background-image: url('{{ article.image | image_url: width: 450 }}');"></div>
                    <div class="bg-black h-[35%] p-2">
                        <p class="text-center text-lg font-futura text-green">{{ article.title }}</p>
                        <div class="line-clamp-3"><p>{{ article.excerpt_or_content}}</p></div>
                    </div>
                </a>
            {% endfor %}
            </div>
        </div>

        <div id="mobile_nav_buttons" class="grid grid-cols-2 gap-4 2xs:text-lg xs:text-xl lg:hidden">
            {% for link in linklists.mobile-menu.links -%}
                {{ link.title | upcase | link_to: link.url }}
            {%- endfor %}
        </div>

        <div>
            <h2 class="hidden lg:inline text-6xl font-futura pl-4">XTENDED'S FAVORITES</h2>
            <div class="h-3 bg-green w-full mt-4 mb-8"></div>
            <div class="grid grid-cols-2 gap-8 px-8">
                {% for person in xtendeds_favorites %}
                    <a href="{{ person.metafields.custom.instagram_url }}">
                        <img class="w-full h-auto mb-4" src="{{ person.image | image_url: width: 400, height: 400 }}">
                        <h2 class="font-futura uppercase text-center text-4xl">{{ person.title }}</h2>
                    </a>
                {% endfor %}
            </div>
        </div> 
    </div>


    <aside class="hidden lg:inline bg-black w-[30%] h-fit">
        <h4 class="font-futura text-4xl mt-4 mx-6">STORIES</h4>
        <span class="bg-green h-[0.125rem] w-auto mx-2 block mb-4"></span>
        {% for article in first_4_articles %}
            <a href="{{ article.url }}" class="aside_post flex">
                <img class="m-4" src="{{ article.image | image_url: width: 125, height: 100 }}">
                <div class="m-4 ml-0 line-clamp-3">
                    <h3 class="font-futura text-lg">{{ article.title }}</h3>
                    <p class="line-clamp-3">{{ article.excerpt_or_content }}</p>
                </div> 
            </a>
        {% endfor %}
        <h4 class="text-right font-futura text-4xl mt-4 mx-6">INTERVIEWS</h4>
        <span class="bg-green h-[0.125rem] w-auto mx-2 block mb-4"></span>
        {% for article in first_4_interviews %}
            <a href="{{ article.url }}" class="aside_post flex">
                <img class="m-4" src="{{ article.image | image_url: width: 125, height: 100 }}">
                <div class="m-4 ml-0 line-clamp-3">
                    <h3 class="font-futura text-lg">{{ article.title }}</h3>
                    <p class="line-clamp-3">{{ article.excerpt_or_content }}</p>
                </div> 
            </a>
        {% endfor %}
        <h4 class="font-futura text-4xl mt-4 mx-6">INSTAGRAM</h4>
        <span class="bg-green h-[0.125rem] w-auto mx-2 block mb-4"></span>
        {% for article in insta_links %}
            <a href="{{ article.metafields.custom.instagram_url }}" class="aside_post flex justify-between">
                <div class="m-4 mr-0 line-clamp-3">
                    <h3 class="font-futura text-lg">{{ article.title }}</h3>
                    <p class="line-clamp-3">{{ article.excerpt_or_content }}</p>
                </div> 
                <img class="m-4" src="{{ article.image | image_url: width: 125, height: 100 }}">
            </a>
        {% endfor %}
    </aside>
</div>

